<div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Client ID</label>
          <input class="form-control" [(ngModel)]="clientId" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Issuer</label>
          <input class="form-control" [(ngModel)]="issuer" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Redirect URI</label>
          <input class="form-control" [(ngModel)]="redirectUri" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Scope</label>
          <input class="form-control" [(ngModel)]="scope" type="text">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block mt-3" (click)="configureOAuth()" *ngIf="!accessToken && !idToken">Fire away</button>

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="accessToken">
          <label for="access_token">Access Token</label>

          <div class="input-group">
            <input [(ngModel)]="accessToken" type="text" name="access_token" id="access_token" class="form-control" readonly>
            <span class="input-group-append">
              <button class="btn btn-secondary-outline" type="button" (click)="getAccessToken()">Copy</button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" *ngIf="idToken">
          <label for="access_token">ID Token</label>

          <div class="input-group">
            <input [(ngModel)]="idToken" type="text" name="access_token" id="access_token" class="form-control" readonly>
            <span class="input-group-append">
              <button class="btn btn-secondary-outline" type="button"  (click)="getIdToken()">Copy</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>