<div>
  <div class="container py-4">
    <h2>OAuth/OIDC</h2>
    <p class="lead">
      Playground Lab

      <button class="btn btn-outline-primary btn-sm float-right" (click)="configureOAuth()" *ngIf="!accessToken && !idToken">Sign
        in
      </button>
      <button class="btn btn-outline-danger btn-sm float-right" (click)="signOut()" *ngIf="accessToken && idToken">Sign out</button>
    </p>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Client ID</label>
          <input class="form-control" [(ngModel)]="clientId" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Issuer</label>
          <input class="form-control" [(ngModel)]="issuer" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Redirect URI</label>
          <input class="form-control" [(ngModel)]="redirectUri" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Scope</label>
          <input class="form-control" [(ngModel)]="scope" type="text">
        </div>
      </div>
    </div>

    <hr/>

    <div class="row animated fadeIn" *ngIf="accessToken && idToken">
      <div class="col-md-6">
        <div class="form-group">
          <label for="access_token">Access Token</label>

          <div class="input-group">
            <input [(ngModel)]="accessToken" type="text" name="access_token" id="access_token" class="form-control" readonly>
            <span class="input-group-append">
              <button class="btn btn-secondary-outline" type="button" (click)="getAccessToken()">Copy</button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="access_token">ID Token</label>

          <div class="input-group">
            <input [(ngModel)]="idToken" type="text" name="access_token" id="access_token" class="form-control" readonly>
            <span class="input-group-append">
              <button class="btn btn-secondary-outline" type="button" (click)="getIdToken()">Copy</button>
            </span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="col-md-12 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>API Endpoint</label>
                  <input type="url" class="form-control" [(ngModel)]="postEndpoint">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Auth Header</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Bearer</span>
                    </div>
                    <input class="form-control" [(ngModel)]="postBearerToken">
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>JSON Body</label>
                  <textarea class="form-control" rows="5" [(ngModel)]="postJsonBody"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <button class="btn btn-primary btn-block" (click)="sendPost()">POST</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>