<div>
  <div class="container py-5">

    <h4 *ngIf="name">Hello {{name}}</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Client ID</label>
          <input class="form-control" [(ngModel)]="clientId" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Issuer</label>
          <input class="form-control" [(ngModel)]="issuer" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Redirect URI</label>
          <input class="form-control" [(ngModel)]="redirectUri" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Scope</label>
          <input class="form-control" [(ngModel)]="scope" type="text">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block mt-3" (click)="configureOAuth()">Fire away</button>
    <div class="btn-group mt-2">
        <button class="btn btn-outline-dark" (click)="getAccessToken()">Get Access Token</button>
        <button class="btn btn-outline-dark" (click)="getIdToken()">Get ID Token</button>
    </div>
  </div>
</div>